<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.bank.dao.AdminInfoDTOMapper" >
  <resultMap id="BaseResultMap" type="com.org.bank.domain.AdminInfoDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_email" property="adminEmail" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_iphone" property="adminIphone" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, admin_name, admin_email, admin_password, admin_iphone
  </sql>

  <sql id="where_fragement">
    where 1 = 1
    <if test="record != null">
      <if test="record.id and record.id != ''">
        and id = #{record.id}
      </if>
      <if test="record.adminName and record.adminName != ''">
        and admin_name = #{record.adminName}
      </if>
      <if test="record.adminEmail and record.adminEmail != ''">
        and admin_email = #{record.adminEmail}
      </if>
      <if test="record.adminIphone and record.adminIphone != ''">
        and admin_iphone = #{record.adminIphone}
      </if>
    </if>
  </sql>

  <!-- 分页专用 -->
  <sql id="pagination_tail" >
    limit #{pager.pageOffset} , #{pager.rows}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectPasswordByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from admin_info
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_info
    <include refid="where_fragement"/>
    ORDER BY id desc
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="countTotal" resultType="Long">
    select
    count(1)
    from admin_info
    <include refid="where_fragement"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.org.bank.domain.AdminInfoDTO" >
    insert into admin_info (id, admin_name, admin_email, 
      admin_password, admin_iphone)
    values (#{id,jdbcType=INTEGER}, #{adminName,jdbcType=VARCHAR}, #{adminEmail,jdbcType=VARCHAR}, 
      #{adminPassword,jdbcType=VARCHAR}, #{adminIphone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.org.bank.domain.AdminInfoDTO" >
    insert into admin_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="adminName != null" >
        admin_name,
      </if>
      <if test="adminEmail != null" >
        admin_email,
      </if>
      <if test="adminPassword != null" >
        admin_password,
      </if>
      <if test="adminIphone != null" >
        admin_iphone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminName != null" >
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null" >
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminIphone != null" >
        #{adminIphone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.bank.domain.AdminInfoDTO" >
    update admin_info
    <set >
      <if test="adminName != null" >
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminEmail != null" >
        admin_email = #{adminEmail,jdbcType=VARCHAR},
      </if>
      <if test="adminIphone != null" >
        admin_iphone = #{adminIphone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.org.bank.domain.AdminInfoDTO" >
    update admin_info
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_iphone = #{adminIphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updatePasswordByPrimaryKey" parameterType="com.org.bank.domain.AdminInfoDTO" >
    update admin_info
    set admin_password = #{newAdminPassword,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>