<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.bank.dao.AnswerSheetDTOMapper" >
  <resultMap id="BaseResultMap" type="com.org.bank.domain.AnswerSheetDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examination_paper_id" property="examinationPaperId" jdbcType="INTEGER" />
    <result column="answer_id" property="answerId" jdbcType="INTEGER" />
    <result column="answerer_name" property="answererName" jdbcType="VARCHAR" />
    <result column="answerer_type" property="answererType" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, examination_paper_id, answer_id, answerer_name, answerer_type, grade
  </sql>

  <sql id="where_fragement">
    where 1 = 1
    <if test="record != null">
      <if test="record.id and record.id != ''">
        and id = #{record.id}
      </if>
      <if test="record.examinationPaperId and record.examinationPaperId != ''">
        and examination_paper_id = #{record.examinationPaperId}
      </if>
      <if test="record.answerId and record.answerId != ''">
        and answer_id = #{record.answerId}
      </if>
      <if test="record.answererName and record.answererName != ''">
        and answerer_name = #{record.answererName}
      </if>
      <if test="record.answererType and record.answererType != ''">
        and answerer_type = #{record.answererType}
      </if>
      <if test="record.grade and record.grade != ''">
        and grade = #{record.grade}
      </if>
    </if>
  </sql>

  <!-- 分页专用 -->
  <sql id="pagination_tail" >
    limit #{pager.pageOffset} , #{pager.rows}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from answer_sheet
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from examination_paper_answer
    <include refid="where_fragement"/>
    ORDER BY id desc
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>


  <select id="countTotal" resultType="Long">
    select
    count(1)
    from examination_paper_answer
    <include refid="where_fragement"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from answer_sheet
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.org.bank.domain.AnswerSheetDTO" >
    insert into answer_sheet (examination_paper_id, answer_id,
      answerer_name, answerer_type, grade
      )
    values (#{examinationPaperId,jdbcType=INTEGER}, #{answerId,jdbcType=INTEGER},
      #{answererName,jdbcType=VARCHAR}, #{answererType,jdbcType=INTEGER}, #{grade,jdbcType=DOUBLE}
      )
      <selectKey order="AFTER" keyProperty="id" keyColumn="id" resultType="integer">
        SELECT LAST_INSERT_ID()
      </selectKey>
  </insert>

  <insert id="insertSelective" parameterType="com.org.bank.domain.AnswerSheetDTO" >
    insert into answer_sheet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examinationPaperId != null" >
        examination_paper_id,
      </if>
      <if test="answerId != null" >
        answer_id,
      </if>
      <if test="answererName != null" >
        answerer_name,
      </if>
      <if test="answererType != null" >
        answerer_type,
      </if>
      <if test="grade != null" >
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examinationPaperId != null" >
        #{examinationPaperId,jdbcType=INTEGER},
      </if>
      <if test="answerId != null" >
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="answererName != null" >
        #{answererName,jdbcType=VARCHAR},
      </if>
      <if test="answererType != null" >
        #{answererType,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=DOUBLE},
      </if>
    </trim>
    <selectKey order="AFTER" keyProperty="id" keyColumn="id" resultType="integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.org.bank.domain.AnswerSheetDTO" >
    update answer_sheet
    <set >
      <if test="examinationPaperId != null" >
        examination_paper_id = #{examinationPaperId,jdbcType=INTEGER},
      </if>
      <if test="answerId != null" >
        answer_id = #{answerId,jdbcType=INTEGER},
      </if>
      <if test="answererName != null" >
        answerer_name = #{answererName,jdbcType=VARCHAR},
      </if>
      <if test="answererType != null" >
        answerer_type = #{answererType,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.org.bank.domain.AnswerSheetDTO" >
    update answer_sheet
    set examination_paper_id = #{examinationPaperId,jdbcType=INTEGER},
      answer_id = #{answerId,jdbcType=INTEGER},
      answerer_name = #{answererName,jdbcType=VARCHAR},
      answerer_type = #{answererType,jdbcType=INTEGER},
      grade = #{grade,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>