<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.bank.dao.ExaminationPaperDTOMapper" >
  <resultMap id="BaseResultMap" type="com.org.bank.domain.ExaminationPaperDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="examiner_id" property="examinerId" jdbcType="INTEGER" />
    <result column="examiner_type" property="examinerType" jdbcType="INTEGER" />
    <result column="examination_paper_name" property="examinationPaperName" jdbcType="VARCHAR" />
    <result column="language_classification_id" property="languageClassificationId" jdbcType="INTEGER" />
    <result column="language_classification_name" property="languageClassificationName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, examiner_id, examiner_type, examination_paper_name,language_classification_id, language_classification_name
  </sql>

  <sql id="where_fragement">
    where 1 = 1
    <if test="record != null">
      <if test="record.id and record.id != ''">
        and id = #{record.id}
      </if>
      <if test="record.examinerId and record.examinerId != ''">
        and examiner_id = #{record.examinerId}
      </if>
      <if test="record.examinerType and record.examinerType != ''">
        and examiner_type = #{record.examinerType}
      </if>
      <if test="record.examinationPaperName and record.examinationPaperName != ''">
        and examination_paper_name like  CONCAT('%', #{record.examinationPaperName}, '%')
      </if>
      <if test="record.languageClassificationId and record.languageClassificationId != ''">
        and language_classification_id = #{record.languageClassificationId}
      </if>
      <if test="record.languageClassificationName and record.languageClassificationName != ''">
        and language_classification_name = #{record.languageClassificationName}
      </if>
    </if>
  </sql>

  <!-- 分页专用 -->
  <sql id="pagination_tail" >
    limit #{pager.pageOffset} , #{pager.rows}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from examination_paper
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from examination_paper
    <include refid="where_fragement"/>
    ORDER BY id desc
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="countTotal" resultType="Long">
    select
    count(1)
    from examination_paper
    <include refid="where_fragement"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from examination_paper
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.org.bank.domain.ExaminationPaperDTO" >
    insert into examination_paper (examiner_id, examiner_type, examination_paper_name
      )
    values (#{examinerId,jdbcType=INTEGER}, #{examinerType,jdbcType=INTEGER}, #{examinationPaperName,jdbcType=VARCHAR}
      )
    <selectKey resultType="integer" keyColumn="id" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.org.bank.domain.ExaminationPaperDTO" >
    insert into examination_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examinerId != null" >
        examiner_id,
      </if>
      <if test="examinerType != null" >
        examiner_type,
      </if>
      <if test="examinationPaperName != null" >
        examination_paper_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examinerId != null" >
        #{examinerId,jdbcType=INTEGER},
      </if>
      <if test="examinerType != null" >
        #{examinerType,jdbcType=INTEGER},
      </if>
      <if test="examinationPaperName != null" >
        #{examinationPaperName,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="integer" keyColumn="id" keyProperty="id" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.bank.domain.ExaminationPaperDTO" >
    update examination_paper
    <set >
      <if test="examinerId != null" >
        examiner_id = #{examinerId,jdbcType=INTEGER},
      </if>
      <if test="examinerType != null" >
        examiner_type = #{examinerType,jdbcType=INTEGER},
      </if>
      <if test="examinationPaperName != null" >
        examination_paper_name = #{examinationPaperName,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.bank.domain.ExaminationPaperDTO" >
    update examination_paper
    set examiner_id = #{examinerId,jdbcType=INTEGER},
      examiner_type = #{examinerType,jdbcType=INTEGER}
      examination_paper_name = #{examinationPaperName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>