<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.bank.dao.MultipleChoiceQuestionDTOMapper" >
  <resultMap id="BaseResultMap" type="com.org.bank.domain.MultipleChoiceQuestionDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="multiple_choice_question" property="multipleChoiceQuestion" jdbcType="VARCHAR" />
    <result column="multiple_choice_option" property="multipleChoiceOption" jdbcType="VARCHAR" />
    <result column="multiple_choice_answer" property="multipleChoiceAnswer" jdbcType="VARCHAR" />
    <result column="examiner_id" property="examinerId" jdbcType="INTEGER" />
    <result column="examiner_type" property="examinerType" jdbcType="INTEGER" />
    <result column="language_classification_id" property="languageClassificationId" jdbcType="INTEGER" />
    <result column="language_classification_name" property="languageClassificationName" jdbcType="VARCHAR" />
    <result column="language_classification_status" property="languageClassificationStatus" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    a.id,a. multiple_choice_question, a.multiple_choice_option, a.multiple_choice_answer, a.examiner_id, examiner_type,
    a.language_classification_id, b.language_classification_name,b.language_classification_status
  </sql>

  <sql id="where_fragement">
    where 1 = 1
    <if test="record != null">
      <if test="record.id and record.id != ''">
        and a.id = #{record.id}
      </if>
      <if test="record.multipleChoiceQuestion and record.multipleChoiceQuestion != ''">
        and a.multiple_choice_question = #{record.multipleChoiceQuestion}
      </if>
      <if test="record.multipleChoiceOption and record.multipleChoiceOption != ''">
        and a.multiple_choice_option = #{record.multipleChoiceOption}
      </if>
      <if test="record.multipleChoiceAnswer and record.multipleChoiceAnswer != ''">
        and a.multiple_choice_answer = #{record.multipleChoiceAnswer}
      </if>
      <if test="record.examinerId and record.examinerId != ''">
        and a.examiner_id = #{record.examinerId}
      </if>
      <if test="record.examinerType and record.examinerType != ''">
        and a.examiner_type = #{record.examinerType}
      </if>
      <if test="record.languageClassificationId and record.languageClassificationId != ''">
        and a.language_classification_id = #{record.languageClassificationId}
      </if>
      <if test="record.languageClassificationName != null">
        and b.language_classification_status = #{record.languageClassificationStatus}
      </if>
    </if>
  </sql>

  <!-- 分页专用 -->
  <sql id="pagination_tail" >
    limit #{pager.pageOffset} , #{pager.rows}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from multiple_choice_question a LEFT JOIN language_classification b ON a.language_classification_id = b.language_classification_id
    where a.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from multiple_choice_question a LEFT JOIN language_classification b ON a.language_classification_id = b.language_classification_id
    <include refid="where_fragement"/>
    ORDER BY a.id desc
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="randomSelectMultipleChoiceQuestionList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from multiple_choice_question a LEFT JOIN language_classification b ON a.language_classification_id = b.language_classification_id
    where b.language_classification_status = 1
    ORDER BY rand()
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="selectByPrimaryKeyList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from multiple_choice_question a LEFT JOIN language_classification b ON a.language_classification_id = b.language_classification_id
    where a.id in
    <foreach collection="keys" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="countTotal" resultType="Long">
    select
    count(1)
    from multiple_choice_question a LEFT JOIN language_classification b ON a.language_classification_id = b.language_classification_id
    <include refid="where_fragement"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from multiple_choice_question
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.org.bank.domain.MultipleChoiceQuestionDTO" >
    insert into multiple_choice_question (multiple_choice_question, multiple_choice_option, multiple_choice_answer,
      examiner_id, examiner_type,language_classification_id)
    values ( #{multipleChoiceQuestion,jdbcType=VARCHAR}, #{multipleChoiceOption,jdbcType=VARCHAR},
    #{multipleChoiceAnswer,jdbcType=VARCHAR},#{examinerId,jdbcType=INTEGER}, #{examinerType,jdbcType=INTEGER},
    #{languageClassificationId,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.org.bank.domain.MultipleChoiceQuestionDTO" >
    insert into multiple_choice_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="multipleChoiceQuestion != null" >
        multiple_choice_question,
      </if>
      <if test="multipleChoiceOption != null" >
        multiple_choice_option,
      </if>
      <if test="multipleChoiceAnswer != null" >
        multiple_choice_answer,
      </if>
      <if test="examinerId != null" >
        examiner_id,
      </if>
      <if test="examinerType != null" >
        examiner_type,
      </if>
      <if test="languageClassificationId != null" >
        language_classification_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="multipleChoiceQuestion != null" >
        #{multipleChoiceQuestion,jdbcType=VARCHAR},
      </if>
      <if test="multipleChoiceOption != null" >
        #{multipleChoiceOption,jdbcType=VARCHAR},
      </if>
      <if test="multipleChoiceAnswer != null" >
        #{multipleChoiceAnswer,jdbcType=VARCHAR},
      </if>
      <if test="examinerId != null" >
        #{examinerId,jdbcType=INTEGER},
      </if>
      <if test="examinerType != null" >
        #{examinerType,jdbcType=INTEGER},
      </if>
      <if test="languageClassificationId != null" >
        #{languageClassificationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.org.bank.domain.MultipleChoiceQuestionDTO" >
    update multiple_choice_question
    <set >
      <if test="multipleChoiceQuestion != null" >
        multiple_choice_question = #{multipleChoiceQuestion,jdbcType=VARCHAR},
      </if>
      <if test="multipleChoiceOption != null" >
        multiple_choice_option = #{multipleChoiceOption,jdbcType=VARCHAR},
      </if>
      <if test="multipleChoiceAnswer != null" >
        multiple_choice_answer = #{multipleChoiceAnswer,jdbcType=VARCHAR},
      </if>
      <if test="examinerId != null" >
        examiner_id = #{examinerId,jdbcType=INTEGER},
      </if>
      <if test="examinerType != null" >
        examiner_type = #{examinerType,jdbcType=INTEGER},
      </if>
      <if test="languageClassificationId != null" >
        language_classification_id = #{languageClassificationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.org.bank.domain.MultipleChoiceQuestionDTO" >
    update multiple_choice_question
    set multiple_choice_question = #{multipleChoiceQuestion,jdbcType=VARCHAR},
      multiple_choice_option = #{multipleChoiceOption,jdbcType=VARCHAR},
      multiple_choice_answer = #{multipleChoiceAnswer,jdbcType=VARCHAR},
      examiner_id = #{examinerId,jdbcType=INTEGER},
      examiner_type = #{examinerType,jdbcType=INTEGER},
      language_classification_id = #{languageClassificationId,jdbcType=INTEGER},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>