<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.org.bank.dao.WrongBookDTOMapper" >
  <resultMap id="BaseResultMap" type="com.org.bank.domain.WrongBookDTO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="question" property="question" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, user_type, question, answer, question_type, question_id
  </sql>

  <sql id="where_fragement">
    where 1 = 1
    <if test="record != null">
      <if test="record.id and record.id != ''">
        and id = #{record.id}
      </if>
      <if test="record.userId and record.userId != ''">
        and user_id = #{record.userId}
      </if>
      <if test="record.userType and record.userType != ''">
        and user_type = #{record.userType}
      </if>
      <if test="record.question and record.question != ''">
        and question = #{record.question}
      </if>
      <if test="record.answer and record.answer != ''">
        and answer = #{record.answer}
      </if>
      <if test="record.questionType and record.questionType != ''">
        and question_type = #{record.questionType}
      </if>
      <if test="record.questionId and record.questionId != ''">
        and question_id = #{record.questionId}
      </if>
    </if>
  </sql>

  <!-- 分页专用 -->
  <sql id="pagination_tail" >
    limit #{pager.pageOffset} , #{pager.rows}
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wrong_book
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wrong_book
    <include refid="where_fragement"/>
    ORDER BY id desc
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="randomSelectWrongBookList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wrong_book
    ORDER BY rand()
    <if test="pager != null" >
      <include refid="pagination_tail" />
    </if>
  </select>

  <select id="selectByPrimaryKeyList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wrong_book
    <foreach collection="keys" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>


  <select id="countTotal" resultType="Long">
    select
    count(1)
    from wrong_book
    <include refid="where_fragement"/>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wrong_book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.org.bank.domain.WrongBookDTO" >
    insert into wrong_book (id, user_id,
      user_type, question, answer, 
      question_type, question_id)
    values (#{id,jdbcType=INTEGER},  #{userId,jdbcType=INTEGER},
      #{userType,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, 
      #{questionType,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER})
  </insert>

  <insert id="insertList" parameterType="list" >
    insert into wrong_book (id, user_id,
      user_type, question, answer,
      question_type, question_id)
    values
    <foreach collection="records" item="item" index="index" separator="," >
      (#{records.id,jdbcType=INTEGER},  #{records.userId,jdbcType=INTEGER},
      #{records.userType,jdbcType=VARCHAR}, #{records.question,jdbcType=VARCHAR}, #{records.answer,jdbcType=VARCHAR},
      #{records.questionType,jdbcType=INTEGER}, #{records.questionId,jdbcType=INTEGER})
    </foreach>

  </insert>

  <insert id="insertSelective" parameterType="com.org.bank.domain.WrongBookDTO" >
    insert into wrong_book
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="question != null" >
        question,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.org.bank.domain.WrongBookDTO" >
    update wrong_book
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="question != null" >
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        question_type = #{questionType,jdbcType=INTEGER},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.org.bank.domain.WrongBookDTO" >
    update wrong_book
    set
      user_id = #{userId,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      question_type = #{questionType,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>